<h1>Create a section</h1>

<% if @section.errors.any? %>
  <ul>
    <% @section.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<form action="/sections/<%= @section.id %>" id="section_form" method="post">
  <label for="section_number">Number:</label>
  <input id="section_number" name="section[number]" type="text">
  <label for="section_name">Name:</label>
  <input id="section_name" name="section[name]" type="text">
  <!-- <label for="chapter_id">Chapter:</label>
  <input id="chapter_id" name="section[chapter_id]" type="text"> -->
  <button>Create section</button>
</form>

