<h1><%= @section.name%></h1>

<p><a href="/sections/<%= @section.id %>/edit">Edit Section</a></p>
<p><a href="/sections/<%= @section.id %>"
    data-confirm="Sure you want to delete this?"
    data-method="delete"
    rel="nofollow">Delete Section</a></p>
<p><a href="/">Return to the Table of Contents</a>.</p>
